<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>View Pets Page</title>
</head>
<body>

	<repeat group="{{ @pets }}" value="{{ @pet }}">
		<li><a href="{{ @pets['pet_id'] }}">{{ @pet['pet_id'] }} - {{ @pet['name'] }} - {{ @pet['color'] }} {{ @pet['type'] }}</a></li>
	</repeat>
</body>
</html>